{% extends 'loadboard/base.html' %}

<head>
    <title>{% block title %}{{Company.CompanyName}}'s loadboard{% endblock %}</title>
</head>


<body>
    {% block body %}
        <h1> {{Company.CompanyName}} </h1>
        <h4>Credit Score: {{Company.CreditScore}}</h4>

            {% for lb in Company.loadboards_table_set.all %}
                <input type="radio" id="lb{{ forloop.counter }}" name="lb" value="{{ lb.id }}" />
                <label for="lb{{ forloop.counter }}">
                    {{ lb.Origin }} ---> {{lb.Destination}}
                </label><br>
            {% endfor %}
    {% endblock %}
</body>